@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Sacramento:regular&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Poppins";
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  padding: 25px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  margin-left: 20px;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  color: #272727;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.5s;
  -o-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
}

.header__link:hover {
  border-bottom: 1px solid #272727;
}

.footer {
  background-color: #cccccc;
  padding-bottom: 125px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3f4049;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 225px;
}

.footer__item--red {
  border-bottom: 3px solid #fc5f45;
}

.footer__item--green {
  border-bottom: 3px solid #38c695;
}

.footer__item--green .footer__title {
  color: #38c695;
}

.footer__item--purple {
  border-bottom: 3px solid #b27cf5;
}

.footer__item--purple .footer__title {
  color: #b27cf5;
}

.footer__item--yellow {
  border-bottom: 3px solid #feb960;
}

.footer__item--yellow .footer__title {
  color: #feb960;
}

.footer__item-inner {
  margin: 0 auto;
  max-width: 205px;
}

.footer__title {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

.footer__text {
  text-align: left;
  font-size: 16px;
  line-height: 168.75%;
  color: #fef4f2;
}

.footer__socials {
  text-align: left;
  height: 52px;
}

.footer__link {
  margin-right: 15px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-left: 15px;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }

  .footer__item--red {
    border-bottom: none;
    border-right: 3px solid #fc5f45;
  }

  .footer__item--green {
    border-bottom: none;
    border-right: 3px solid #38c695;
  }

  .footer__item--purple {
    border-bottom: none;
    border-right: 3px solid #b27cf5;
  }

  .footer__item--yellow {
    border-bottom: none;
    border-right: 3px solid #feb960;
  }

  .footer__item-inner {
    margin: 0;
  }

  .footer__title {
    margin-bottom: 15px;
  }

  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 19px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #272727;
    top: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #272727;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 90px 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0 0 35px 0;
    text-align: center;
  }

  .header__link {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}